package ${applicaitionId}.${packageName}.viewmodel

import android.app.Application
import BaseViewModel

/**
 * @Author: ${author}
 * @Date: ${date}
 * @Description:
 */
class ${functionName}ViewModel(application: Application) : BaseViewModel(application) {
    override fun onCreate() {
    }
}